@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float-left-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes float-right-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-float-left-right {
  animation: float-left-right 3s ease-in-out infinite;
}

.animate-float-right-left {
  animation: float-right-left 4s ease-in-out infinite;
}
